*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
    color: white;
}



.score{
    display: grid;
    grid-template-areas: 
    'curr currsco'
    'high hsco';
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

.curr{
    grid-area: curr;
    margin: 2px;
    padding: 5px;
    
}

#CurrentScore{
    grid-area: currsco;
    margin: 2px;
    padding: 5px
}

.High{
    grid-area: hsco;
    margin: 2px;
    padding: 5px
}

#Highscore{
    grid-area: high;
    margin: 2px;
    padding: 5px
}

.score h1{
    margin:  10px 50px;
}

.score h2{
    margin:  10px 50px;
}

.gamearea{
    display: grid;
    grid-template-areas: 
    'box1 box2 box3'
    'box4 box5 box6'
    'box7 box8 box9'    ;
    border: 2px solid white;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 15px;
}

.box{
    border: 2px solid white;
    width: 100px;
    height:100px;
    padding: 10px;
    margin: 5px;
    box-shadow: white -2px -2px 5px -2px ;
}

#box1{
    grid-area: box1;
}
#box2{
    grid-area: box2;
}
#box3{
    grid-area: box3;
}
#box4{
    grid-area: box4;
}
#box5{
    grid-area: box5;
}
#box6{
    grid-area: box6;
}
#box7{
    grid-area: box7;
}
#box8{
    grid-area: box8;
}
#box9{
    grid-area: box9;
}

.message{
    width: 25%;
    margin: auto;
    text-align: center;

}

.btn{
    width: 100px;
    padding: 10px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}